.charsheet {
    background-image: url("https://media.discordapp.net/attachments/531267211688411146/1089981446602629170/seamless-background-textures-12-780x780.jpg?width=905&height=905");
    background-color: black;
}

.charsheet, h1, h2, h3 {
    color: white;
}

button {
    border: 3px solid white;
    background-color: black;
}

.headpiece-img {
    width: 20%;
}

input.headpiece-name {
    color: white;
    background-color: transparent;
    border-color: transparent;
    min-width: 1px;
    width: 65%;
    font-size: xxx-large;
    outline: none;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
}



.charsheet div.sheet-master {  
    display: grid; 
    grid-gap: 5px;
    grid-template-areas:
        "Tabs"
        "Sheet";
}

.charsheet div.sheet-Tabs { grid-area: Tabs; }

.charsheet div.sheet-overview,
.charsheet div.sheet-stats,
.charsheet div.sheet-perks,
.charsheet div.sheet-weapons,
.charsheet div.sheet-rune-spells,
.charsheet div.sheet-invocation,
.charsheet div.sheet-character,
.charsheet div.sheet-inventory { grid-area: Sheet; }

/*Configure the tab buttons*/
.charsheet .sheet-overview,
.charsheet .sheet-stats,
.charsheet .sheet-perks,
.charsheet .sheet-weapons,
.charsheet .sheet-rune-spells,
.charsheet .sheet-invocation,
.charsheet .sheet-inventory,
.charsheet .sheet-character {
    display: none;
    grid-gap: 5px;
    padding: 5px;
    justify-content: center;
    border: 3px solid white;
}

/* show the selected tab */
.charsheet .sheet-tabstoggle[value="overview"] ~ div.sheet-overview,
.charsheet .sheet-tabstoggle[value="stats"] ~ div.sheet-stats,
.charsheet .sheet-tabstoggle[value="perks"] ~ div.sheet-perks,
.charsheet .sheet-tabstoggle[value="weapons"] ~ div.sheet-weapons,
.charsheet .sheet-tabstoggle[value="rune-spells"] ~ div.sheet-rune-spells,
.charsheet .sheet-tabstoggle[value="invocation"] ~ div.sheet-invocation,
.charsheet .sheet-tabstoggle[value="equipment"] ~ div.sheet-character,
.charsheet .sheet-tabstoggle[value="inventory"] ~ div.sheet-inventory {
    display: grid;
}

.charsheet div.sheet-block{
  padding: 5px;
  justify-content: center;
  border: 3px solid white;
}

/*Overview*/
.charsheet div.sheet-overview {
    grid-template-areas:
        "overview-Headpiece overview-Headpiece overview-Race"
        "overview-Attributes overview-State overview-Stats"
        "overview-Weapons overview-Runes overview-Invocations"
        "overview-Notes overview-Notes overview-Notes";
    grid-template-columns: 1fr 1fr 1fr;
}
.charsheet div.sheet-overview-Headpiece { grid-area: overview-Headpiece; }
.charsheet div.sheet-overview-Race { grid-area: overview-Race; }
.charsheet div.sheet-overview-Attributes { grid-area: overview-Attributes; }
.charsheet div.sheet-overview-State { grid-area: overview-State; }
.charsheet div.sheet-overview-Stats { grid-area: overview-Stats; }
.charsheet div.sheet-overview-Weapons { grid-area: overview-Weapons; }
.charsheet div.sheet-overview-Runes { grid-area: overview-Runes; }
.charsheet div.sheet-overview-Invocations { grid-area: overview-Invocations; }
.charsheet div.sheet-overview-Notes { grid-area: overview-Notes; }

/* By deafult make attack mode button red*/
button.attack-mode-normal,
button.attack-mode-advantage,
button.attack-mode-disadvantage {
    display: none;
}

/* color the selected button */
.attack-mode[value="normal"] ~ button.attack-mode-normal,
.attack-mode[value="advantage"] ~ button.attack-mode-advantage,
.attack-mode[value="disadvantage"] ~ button.attack-mode-disadvantage {
    display: inline-block;
    align-content: right;
}

/*Stats*/
.charsheet div.sheet-stats {
    grid-template-areas:
        "stats-Character stats-Character stats-Character"
        "stats-Attributes stats-Stats stats-Armour";
    grid-template-columns: 1fr 1fr 1fr;
}
.charsheet div.sheet-stats-Character { grid-area: stats-Character; }
.charsheet div.sheet-stats-Attributes { grid-area: stats-Attributes; }
.charsheet div.sheet-stats-Stats { grid-area: stats-Stats; }
.charsheet div.sheet-stats-Armour { grid-area: stats-Armour; }

/*Basic*/
.charsheet div.sheet-perks,
.charsheet div.sheet-weapons,
.charsheet div.sheet-rune-spells,
.charsheet div.sheet-inventory {
    grid-template-areas:
        "Basic";
    grid-template-columns: 1fr;
}
.charsheet div.sheet-basic { grid-area: Basic; }

/*Invocation*/
.charsheet div.sheet-invocation {
    grid-template-areas:
        "invocation-Tabs"
        "invocation-Sheet";
    grid-template-columns: 1fr;
}
.charsheet div.sheet-invocation-Tabs { 
    grid-area: invocation-Tabs; 
}
.charsheet div.sheet-invocation-Memory,
.charsheet div.sheet-invocation-Caster,
.charsheet div.sheet-invocation-Saved {
    grid-area: invocation-Sheet; 
}

/*Configure the invocation tab buttons*/
.charsheet .sheet-invocation-Memory,
.charsheet .sheet-invocation-Caster,
.charsheet .sheet-invocation-Saved {
    display: none;
}

/*Show the selected invocation tab*/
.charsheet .sheet-tabstoggle[value="invocation-Memory"] ~ div.sheet-invocation-Memory,
.charsheet .sheet-tabstoggle[value="invocation-Caster"] ~ div.sheet-invocation-Caster,
.charsheet .sheet-tabstoggle[value="invocation-Saved"] ~ div.sheet-invocation-Saved {
    display: block;
}

/*Equipment*/
.charsheet div.sheet-character {
    grid-template-areas:
        "equipment-Tabs"
        "equipment-Sheet";
    grid-template-columns: 1fr;
}
.charsheet div.sheet-character-Tabs { 
    grid-area: equipment-Tabs; 
}
.charsheet div.sheet-character-Armour,
.charsheet div.sheet-character-Equipment,
.charsheet div.sheet-character-Info {
    grid-area: equipment-Sheet; 
}

/*Configure the equipment tab buttons*/
.charsheet .sheet-character-Armour,
.charsheet .sheet-character-Equipment,
.charsheet .sheet-character-Info {
    display: none;
}

/*Show the selected equipment tab*/
.charsheet .sheet-tabstoggle[value="equipment-Armour"] ~ div.sheet-character-Armour,
.charsheet .sheet-tabstoggle[value="equipment-Equipment"] ~ div.sheet-character-Equipment,
.charsheet .sheet-tabstoggle[value="equipment-Info"] ~ div.sheet-character-Info {
    display: block;
}

h3 {
    display: inline-block;
}

div[class^="sheet-overview"] div[class^="repcontrol"] button[class="btn repcontrol_add"],
div[class^="sheet-overview"] div[class^="repcontrol"] button[class="btn repcontrol_edit"] {
    display: none;
}

/* By deafult, hides all archetypes*/
.charsheet .sheet-arcane,
.charsheet .sheet-faith,
.charsheet .sheet-nature {
    display: none;
}

/* show the selected archetype */
.charsheet .sheet-ic_scaling_toggle[value="arcane"] ~ div.sheet-arcane,
.charsheet .sheet-ic_scaling_toggle[value="faith"] ~ div.sheet-faith,
.charsheet .sheet-ic_scaling_toggle[value="nature"] ~ div.sheet-nature {
    display: inline-block;
}

.ic_warning {
    color: red;
}

div[class^="sheet-invocation-Saved"] div[class^="repcontrol"] button[class="btn repcontrol_add"] {
    display: none;
}


/* INFO */
.info-field {
    border: 1px solid white;
}
.info-field > input {
    width: 100%;
}
.info-field > textarea {
    max-width: 100%;
    resize: vertical;
    box-sizing: border-box;
}
.charsheet div.sheet-character-Info {  
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "info-Appearance"
        "info-Traits"
        "info-Proficiencies"
        "info-Backstory";
    border: 1px solid white;
    text-align: center;
}

.info-Appearance {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "info-Appearance-Title info-Appearance-Title info-Appearance-Title info-Appearance-Title info-Appearance-Title info-Appearance-Title info-Appearance-Title"
        "info-Gender info-Age info-Height info-Weight info-Eyes info-Hair info-Size"
        "info-Vision info-Languages info-Languages info-Languages info-Languages info-Languages info-Alignment";
    grid-area: info-Appearance;
    border: 1px solid white;
}

.info-Vision { grid-area: info-Vision; }
.info-Languages { grid-area: info-Languages; }
.info-Alignment { grid-area: info-Alignment; }
.info-Gender { grid-area: info-Gender; }
.info-Age { grid-area: info-Age; }
.info-Height { grid-area: info-Height; }
.info-Weight { grid-area: info-Weight; }
.info-Eyes { grid-area: info-Eyes; }
.info-Hair { grid-area: info-Hair; }
.info-Size { grid-area: info-Size; }
.info-Appearance-Title { grid-area: info-Appearance-Title; }
.info-Traits {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "info-Traits-Banner info-Traits-Banner info-Traits-Banner"
        "info-Racial info-Personality info-Background"
        "info-Racial info-Personality info-Background";
    grid-area: info-Traits;
    border: 1px solid white;
}

.info-Traits-Banner { grid-area: info-Traits-Banner; }
.info-Racial { grid-area: info-Racial; }
.info-Personality { grid-area: info-Personality; }
.info-Background { grid-area: info-Background; }
.info-Proficiencies {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "info-Proficiencies-Banner info-Proficiencies-Banner info-Proficiencies-Banner"
        "info-Armour info-Weapon info-Tool"
        "info-Armour info-Weapon info-Tool";
    grid-area: info-Proficiencies;
    border: 1px solid white;
}

.info-Proficiencies-Banner { grid-area: info-Proficiencies-Banner; }
.info-Armour { grid-area: info-Armour; }
.info-Weapon { grid-area: info-Weapon; }
.info-Tool { grid-area: info-Tool; }
.info-Backstory { grid-area: info-Backstory; }
