/*Configure the tab buttons*/
.charsheet .sheet-overview,
.charsheet .sheet-stats,
.charsheet .sheet-attacks,
.charsheet .sheet-perks,
.charsheet .sheet-rune-spells,
.charsheet .sheet-inventory,
.charsheet .sheet-invocation {
    display: none;
}

/* show the selected tab */
.charsheet .sheet-tabstoggle[value="invocation_memory"] ~ div.sheet-invocation_memory,
.charsheet .sheet-tabstoggle[value="invocation_caster"] ~ div.sheet-invocation_caster {
    display: block;
}

/*Configure the invocation tab buttons*/
.charsheet .sheet-invocation_memory,
.charsheet .sheet-invocation_caster{
    display: none;
}

/* show the selected invocation tab */
.charsheet .sheet-tabstoggle[value="overview"] ~ div.sheet-overview,
.charsheet .sheet-tabstoggle[value="stats"] ~ div.sheet-stats,
.charsheet .sheet-tabstoggle[value="attacks"] ~ div.sheet-attacks,
.charsheet .sheet-tabstoggle[value="perks"] ~ div.sheet-perks,
.charsheet .sheet-tabstoggle[value="rune-spells"] ~ div.sheet-rune-spells,
.charsheet .sheet-tabstoggle[value="inventory"] ~ div.sheet-inventory,
.charsheet .sheet-tabstoggle[value="invocation"] ~ div.sheet-invocation {
    display: block;
}

h3 {
    display: inline-block;
}

div[class^="sheet-overview"] div[class^="repcontrol"] button[class="btn repcontrol_add"],
div[class^="sheet-overview"] div[class^="repcontrol"] button[class="btn repcontrol_edit"] {
    display: none;
}

/* By deafult, hides all archetypes*/
.charsheet .sheet-arcane,
.charsheet .sheet-faith,
.charsheet .sheet-nature {
    display: none;
}

/* show the selected archetype */
.charsheet .sheet-ic_type_toggle[value="arcane"] ~ div.sheet-arcane,
.charsheet .sheet-ic_type_toggle[value="faith"] ~ div.sheet-faith,
.charsheet .sheet-ic_type_toggle[value="nature"] ~ div.sheet-nature {
    display: inline-block;
}
